

{% extends "base.html" %}

{% block title %}My Tasks - BuildSync{% endblock %}

{% block content %}

<section class="py-12 px-10">

```
<div class="max-w-6xl mx-auto">

    <h1 class="text-3xl font-bold text-gray-800 mb-8">
        My Tasks
    </h1>


    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

        {% for task in tasks %}

        <div class="bg-white rounded-2xl shadow-md p-6">

            <div class="flex justify-between">

                <h3 class="text-xl font-semibold">
                    {{ task.title }}
                </h3>

                <span class="text-sm bg-orange-100 text-orange-700 px-3 py-1 rounded-full">
                    {{ task.get_status_display }}
                </span>

            </div>


            <p class="text-gray-500 mt-3">
                {{ task.description }}
            </p>


            <div class="mt-5">

                <p class="text-sm text-gray-500">
                    Location
                </p>

                <p class="font-semibold">
                    {{ task.location }}
                </p>

            </div>

        </div>

        {% empty %}

        <p class="text-gray-500">
            No task assigned to you.
        </p>

        {% endfor %}

    </div>

</div>
```

</section>

{% endblock content %}
